<div *ngIf="products">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Image</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of products" class="table-dark">
      <th scope="row">{{p.name}}</th>
      <td><img src="{{p.image}}" alt=""></td>
      <td>{{p.quantity}}</td>
      <td>{{p.price | number : '1.2-2'}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="table-dark">
      <td></td>
      <td></td>
      <td>Total:</td>
      <td>{{totalPrice | number : '1.2-2'}}</td>
    </tr>
  </tfoot>
</table> 
<div>
  <a routerLink="/products/all" class="card-link">Go back to the shop</a>
</div>
</div>

<div *ngIf="!products">
  <h1>Your cart is empty!</h1>
</div>